streamlit==1.33.0
langchain==0.1.14
langchain-community==0.0.30
langchain-core==0.1.45
langchain-groq==0.0.1
faiss-cpu
pytesseract
Pillow
speechrecognition
huggingface-hub==0.22.2
transformers==4.39.3
torch
sentencepiece
InstructorEmbedding
